
BODY {
	font: 10px Arial;
	background-color: #ccc;
}

INPUT {
	margin: 0;
	padding: 0 0 0 1px;
	vertical-align: middle;
	font-size: 95%;
}

FIELDSET {
	margin: 0;
	padding: 5px 5px;
	float: left;
}

LEGEND, .toggler {
	background-image: url('../images/bullet_green.gif');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	padding-right: 5px;
	border: none!important;
	cursor: pointer;
}
LEGEND A {
	border: none!important;
	text-decoration: none;
	cursor: pointer;
}

.fieldset_off {
	border-bottom: none;
	border-right: none;
}
.fieldset_off LEGEND, .toggler_off {
	background-image: url('../images/bullet_orange.gif');
}
.fieldset_off DIV {
	display: none;
}


.source_desc {
	clear: left;
	float: left;
	width: 200px;
}

.source_url {
	float: left;
	width: 250px;
	height: 24px;
}
.source_url INPUT, .source_url SELECT {
	font-size: 95%;
	width: 240px;
	padding: 0 0 0 1px;
}

A.source_accept {
	display: block;
	float: left;
	padding-left: 18px;
	color: #888888!important;
	background-image: url(accept.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 90%;
	letter-spacing: -1px;
	border: none!important;
}
A.source_accept:hover {
	color: #333333!important;
}

#img_area_form {
	margin: 5px 0px;
	padding: 0;
	border: 0;
}

#form_container {
	white-space: nowrap;
	overflow: auto;
	height: 88px;
	border-top: solid 1px #bfc1c5;
}
#imgmapeditor legend {
	margin-bottom: 0px;
}

#form_container INPUT, #form_container SELECT, #button_container SELECT, #select_visible_label SELECT{
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 1px;
	height: 20px;
	line-height: 20px;
}
.dd_zoom {
	width: 65px;
}

.img_area {
	display: block;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

.img_id {
	font-weight: bold;
	width: 25px;
	padding: 0px 3px;
	text-align: right;
	border: none!important;
	background: none;
}
.img_active {
	border: none!important;
}
.img_coords {
	width: 72px;
}
.img_href {
	width: 82px;
}
.img_alt {
	width: 82px;
}
.img_target {
	width: 82px;
}

#pic_container {
	position: relative;
	width: 100%;
	border: solid 0px #efefef;
	overflow: auto;
}

#pic_container .imgmap_label {
	font: bold 10px Arial;
	color: #100;
	padding: 1px 2px;
}

#status_container {
	font-weight: bold!important;
	font-size: 90%;
	color: #e95949;
	width: 100%;
}

#button_container {
	padding: 5px;
	line-height: 22px;
	float: left;
}
#button_container select,
#button_container img,
#button_container > div,
#button_container label
{
	float: left;
}
#button_container img {
	margin: 2px 2px;
	cursor: pointer;
}

#fieldset_html {
	text-align: left;
}

#html_container {
	border: 1px solid black;
	margin: 5px 0;
	padding: 1px 0 0 1px;
	height: 100px;
	width: 100%;
}

#more_actions {
	background-color: #E7E7E7;
	border: solid 1px #888;
	padding: 5px;
	width: 120px;
	line-height: 15px;
}
#more_actions div div,
#more_actions div a {
	text-decoration: none;
	color: #000;
	float: left;
	padding: 0 3px;
}
