html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, font, img, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

a{text-decoration:none}
a:hover{
	text-decoration:underline;
}
img{
    border:0;
    vertical-align:bottom;
}

.block{display:block !important}
.flr{float:right;}
.fll{float:left;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* IE6/7 support */
.clearfix {
	*zoom: 1;
}
.clearfloat{
	clear:both;
	height:0; line-height:0; font-size:0;
}

.hidden{display:none;}
.required{color:#ff0000;}
.cc {text-align:center;}